@import "~office-ui-fabric-react/dist/sass/References.scss";

.container {
  width: 700px;
  height: 1500px;
  background-color: aquamarine;
}

/* Пагинация */
.paginationBttns {
  font-size: 12px;

  width: 80%;
  height: 30px;
  margin-top: 17px;

  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 3px;
  border: 0.3px solid rgb(96, 94, 92);
  color: rgb(96, 94, 92);
  cursor: pointer;
}
/* Пагинация */
